# See https://help.github.com/ignore-files/ for more about ignoring files.

# production
/dist

# testing
/coverage

# dependencies
/node_modules

# tooling caches
/node_modules/.tmp
*.tsbuildinfo

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
tags*
.tags*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
